// toggleButton.module.scss

@use '../../variables' as *;

.themeToggle {
  background: inherit;
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
  padding: 10px 15px;
  transition: $box-shadow-color 0.3s;
  box-sizing: $box-shadow-color;
}

.themeToggleIcon {
    padding: 5px;
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 999;
    background: transparent;
    border: none;
    cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}
