@use '../../variables' as *;

.projectsContainer {
  padding: 80px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: scroll;
}

.projectsContainer h2 {
  margin-bottom: 40px;
  text-decoration: underline;
}

.sliderContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1200px;
}

.scrollButton {
  background: none !important;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #5ae0d2;
  padding: 0 15px;
  transition: color 0.3s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.8;
  }

  &.left {
    left: -50px;
  }

  &.right {
    right: 5px;
  }
}

.projectsSlider {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 10px;
  width: 100%;
  max-width: calc(100% - 80px);
  -webkit-overflow-scrolling: touch;

  /* Hide scrollbar in Webkit browsers (Chrome, Safari, etc.) */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar in Firefox */
  scrollbar-width: none;

  /* Add transition to make smooth sliding */
  transition: transform 0.3s ease-in-out;
}

.projectCard {
  min-width: 300px;
  max-width: 300px;
  flex-shrink: 0;
  border: 1px solid #f6f6f6;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 480px;
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;

  /* Animation for projects sliding out */
  &.slide-out {
    transform: translateX(-100%);
    opacity: 0;
  }

  /* Animation for projects sliding in */
  &.slide-in {
    transform: translateX(100%);
    opacity: 1;
  }

  &:hover {
    box-shadow: $box-shadow-color;
    opacity: 0.9;
    cursor: pointer;
    scale: 1.01;
  }
}


.projectImage {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 8px;
}

.projectTitle {
  margin: 0;
  font-size: 1.25rem;
  text-align: center;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.stack div {
  background-color: #66c2a5;
  padding: 5px 8px;
  border-radius: 15px;
  font-size: 12px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  transition: transform 0.3s ease;
}

.paginationBullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.paginationBullet.active {
  background-color: #66c2a5;
  transform: scale(1.2);
}


/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .projectsSlider {
    margin-left: 20px; /* Add some margin to the left of the slider */
  }

  .scrollButton.left {
    left: 0; /* Hide the left button on mobile */
  }

  .projectsSlider {
    gap: 10px;
  }

  .projectCard {
    min-width: 300px; /* Reduce card size on mobile */
    max-width: 300px; /* Adjust card size on mobile */
    height: auto; /* Allow the card height to adjust */
  }
}