@use '../../variables' as *;

.projectsContainer {
  padding: 80px 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: scroll;
  @include separator;
}

.projectsContainer h2 {
  margin-bottom: 40px;
  text-decoration: underline;
}

.sliderContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 80%;
}

.scrollButton {
  background: $h4-color; // Add gradient background
  border: none;
  font-size: 1.75rem;
  font-weight: 600;
  color: inherit;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    box-shadow: $button-box-shadow;
    background: $h5-hover-color;
    transform: translateY(-50%) scale(1.03);
    cursor: pointer;
  }

  &.left {
    left: -5px;
  }

  &.right {
    right: 30px;
  }

  i {
    font-size: 1.2rem;
    pointer-events: none; // Prevent click on the icon
  }
}


.projectsSlider {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 2em;
  padding: 10px;
  width: 100%;
  max-width: calc(100% - 80px);
  -webkit-overflow-scrolling: touch;

  /* Hide scrollbar in Webkit browsers (Chrome, Safari, etc.) */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar in Firefox */
  scrollbar-width: none;

  /* Add transition to make smooth sliding */
  transition: transform 0.3s ease-in-out;
}

.projectCard {
  box-shadow: $box-shadow-color;
  opacity: 0.9;
  cursor: pointer;
  min-width: 15em;
  max-width: 15em;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 20px;
  height: 480px;
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;

  /* Animation for projects sliding out */
  &.slide-out {
    transform: translateX(-100%);
    opacity: 0;
  }

  /* Animation for projects sliding in */
  &.slide-in {
    transform: translateX(100%);
  }

  &:hover {
    box-shadow: $box-hover-shadow-color;
    scale: 1.02;
    opacity: 1;
  }
}


.projectImage {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 8px;
}

.projectTitle {
  margin: .5rem;
  text-align: center;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.stack div {
  background-color: $h4-hover-color;
  padding: 5px 8px;
  border-radius: 15px;
  font-size: 12px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  transition: transform 0.3s ease;
}

.paginationBullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.paginationBullet.active {
  background-color: $h2-color;
  transform: scale(1.2);
}


/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .projectsSlider {
    margin-left: 20px; /* Add some margin to the left of the slider */
  }

  .scrollButton.left {
    left: 0; /* Hide the left button on mobile */
  }

  .projectsSlider {
    gap: 2em;
  }

  .projectCard {
    min-width: 13em; /* Reduce card size on mobile */
    max-width: 13em; /* Adjust card size on mobile */
    height: auto; /* Allow the card height to adjust */
  }

  
}