{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended" // Add this if not already included
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".jsx", ".tsx"] // Allow JSX in both .jsx and .tsx files
      }
    ],
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "function", // or "arrow"
        "unnamedComponents": "arrow" // or "function"
      }
    ],
    "no-mixed-spaces-and-tabs": "error"
    // Add other rules as needed
  }
}
