{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended" // Add this if not already included
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".jsx", ".tsx"] // Allow JSX in both .jsx and .tsx files
      }
    ],
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": ["function-declaration", "arrow-function"]
      }
    ],
    "no-mixed-spaces-and-tabs": "error",
    "comma-spacing": ["error", { "before": false, "after": true }],
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "max-len": [
      "warn",
      {
        "code": 150,
        "ignorePattern": "^import\\s.+\\sfrom\\s.+;$",
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreComments": true
      }
    ]
  }
}
