@use '../../variables.scss' as *;

.selectorSection {
    position: fixed; /* Covers the viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Centers content */
    z-index: 9999; /* Ensure it's above other elements */
    pointer-events: auto; /* Allows interaction with this layer */
    backdrop-filter: blur(12px); 
    transform: scale(1.1);
}

.lightTheme {
    @include lightTheme;
  }
  
.darkTheme {
    @include darkTheme;
  } 

.selector {
    position: relative; /* Required for pseudo-element layering */
    padding: 20px;
    border-radius: 15px;
    z-index: 10; /* Ensure it is above the blur layer */
}

.closeButton {
    position: relative;
    margin: 0px;
    right: -20px;
    color: inherit !important;
    border: none;
    background-color: inherit !important;
    &:hover {
        color: rgba(171, 159, 159, 0.369) !important;
    }
}

.button {
    margin: 10px;
    background-color: inherit !important;
    color: inherit !important;
    border: none;
    &:hover {
        background-color: #ab9f9f5e !important;
    }  
}

.selectedLanguage {
    background-color: #C2E5D3 !important;
}

.select {
    display: flex;
}

.options {
    display:flex;
    flex-direction: column;
    margin: 10px;
    color: inherit !important;
    border: none;
}
.noScroll {
    overflow: hidden; /* Disable scrolling on body */
  }