@use '../../variables' as *;

.appNav {
    position: sticky;
    background: inherit;
    top: 0;
    right: 40px;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    box-shadow: $box-shadow-color;
}

.appNav.hidden {
    transform: translateY(0);
    display: flex;
    visibility: hidden;
}

.appNav.visible {
    transform: translateY(0);
    display: flex;
    opacity: 1;
}

.appNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.appNav li {
    padding: 10px;
}

.appNav li a {
    font-weight: bold;
    text-decoration: none;
    background-color: inherit;
    color: inherit;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease, transform 0.3s ease;
}

.selectedNavItem,.languageSection:hover, .appNav li a:hover {
    color: $h3-color;
    transform: scale(1.1);
    filter: brightness(1.1);
}

.appNav li a i {
    margin: 0 10px;
}

.languageSection {
    cursor: pointer;
    display: flex;
    align-items: center;
    .languageText {
        margin: 0 6px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 920px) {

    .appNav ul {
        display: none !important;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 15px;
    }
    .appNav {
      background-color: inherit !important;
    }
  }
