@import "../../styles/global.scss";

.contact {

  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    align-items: center;
    justify-content: center;
  }
  .contactContent {
    display: flex;
    margin-top: 20px;

    @include mobile {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin-top: 30px;
    }

    .left {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      @include mobile {
        flex-direction: column;
        align-items: center;
      }

      .text {
        font-weight: 500;
        font-size: 30px;

        @include mobile {
          display: none;
        }
      }

      .Icon-wrapper {
        height: 300px;
        font-size: 50px;
        border: 2px solid $mainColor;
        background: rgb(243, 248, 249);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 20px;

        @include mobile {
          width: 60%;
          height: 200px;
          flex-wrap: wrap;
          align-items: center;
          margin-left: 70px;
          margin-top: 5px;
        }

        .icon {
          width: 80%;
          height: 90px;
          border-radius: 20px;
          border: 1px solid $mainColor;
          margin:  20px;   
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.5s ease;
          cursor: pointer;
          background-color:  $mainColor;
          color: #dae3de;

          @include mobile {
            margin: 10px 15px;
            height: 35px;
            width: 35px;
            margin-bottom: 10px;
          }
          &:hover {
            background-color: #dae3de;
            color: $mainColor ;
            icon {
              opacity: 0.2;
              z-index: 0;
            }
          }
        }
      }
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 20px;

      @include mobile {
        margin-right: 30px;
        margin-left: 0px;
      }

      h2 {
        font-size: 25px;
        font-weight: 500;
      }

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        input {
          width: 80%;
          height: 40px;
          font-size: 14px;
          margin: 10px;
          border-radius: 5px;
          border: 2px solid $mainColor ;

          @include mobile {
            width: 300px;
            height: 20px;
          }
        }

        textarea {
          width: 80%;
          height: 250px;
          font-size: 16px;
          margin-bottom: 10px;
          border-radius: 5px;
          border: 2px solid $mainColor ;

          @include mobile {
            width: 300px;
            height: 120px;
            margin-bottom: 4px;
          }
        }

        button {
          width: 130px;
          height: 40px;
          background-color: $mainColor;
          margin-top: 5px;
          border: none;
          border-radius: 10px;
          font-weight: 500;
          cursor: pointer;
          color: white;
          font-size: 15px;

          @include mobile {
            height: 25px;
          }
          &:focus {
            outline: none;
          }
          &:hover {
            background-color: #dae3de;
            color: $mainColor;
          }
        }
       
        span {
          color: $mainColor;
        }
      }
    }
  }
}
