@use '../../variables' as *;

.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: inherit;
  color: inherit;
}

.pageHeading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contactFormContainer {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: $box-shadow-color;
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.input,
.textarea {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.textarea {
  min-height: 100px;
}

.button {
  margin-top: 1rem;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: $h3-color;
  border: 1px solid #66c2a5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  outline: none;
  box-shadow: 0 0 3px #0000004d;
}

.error {
  color: #d9534f;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.phoneContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.countryCode {
  width: 100px;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.phoneInput {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Modal Styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: inherit;
  padding: 2rem;
  border-radius: 8px;
  position: relative;
  max-width: 500px;
  width: 100%;
  box-shadow: $box-shadow-color;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}
