@import "../../../variables.scss"; // Import your theme variables

// Button color variables
$primary-background: #4CAF50; // Green
$primary-text-color: #FFFFFF; // White
$primary-hover-background: #45a049; // Darker green for hover
$primary-hover-text-color: #FFFFFF; // White

$secondary-background: #008CBA; // Blue
$secondary-text-color: #FFFFFF; // White
$secondary-hover-background: #007bb5; // Darker blue for hover
$secondary-hover-text-color: #FFFFFF; // White

$outline-background: transparent;
$outline-border-color: #FFC107; // Yellow
$outline-text-color: #FFC107; // Yellow
$outline-hover-background: #FFC107; // Yellow on hover
$outline-hover-text-color: #FFFFFF; // White text on hover

$disabled-background: #D3D3D3; // Light gray
$disabled-text-color: #A9A9A9; // Darker gray
$disabled-border-color: #A9A9A9; // Border color
$disabled-hover-background: #D3D3D3; // Same gray on hover
$disabled-hover-text-color: #A9A9A9; // Same gray text on hover

// Button Styles
.button {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: $button-box-shadow;

  &--primary {
    background-color: $primary-background;
    color: $primary-text-color;

    &:hover {
      background-color: $primary-hover-background;
      color: $primary-hover-text-color;
    }
  }

  &--secondary {
    background-color: $secondary-background;
    color: $secondary-text-color;

    &:hover {
      background-color: $secondary-hover-background;
      color: $secondary-hover-text-color;
    }
  }

  &--outline {
    background-color: $outline-background;
    border: 2px solid $outline-border-color;
    color: $outline-text-color;

    &:hover {
      background-color: $outline-hover-background;
      color: $outline-hover-text-color;
    }
  }

  &--disabled,
  &--disabled:hover {
    background-color: $disabled-background;
    color: $disabled-text-color;
    cursor: not-allowed;
    box-shadow: none;
  }

  &--small {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
  }

  &--medium {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  &--large {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
  }
}
