@use '../../../variables.scss' as *;

.themeToggle {
  background: inherit;
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.themeToggleIcon {
  box-shadow: inherit;
  padding: 5px;
  position: fixed;
  right: 25px;
  z-index: 999;
  background: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
