.goToTop {
    position: fixed;
    bottom: 20px; // Adjust as needed
    right: 20px;  // Adjust as needed
    cursor: pointer;
    transition: opacity 0.3s ease;
  
    &.hidden {
      opacity: 0;
      cursor: not-allowed;
      pointer-events: none; // Prevent clicks when hidden
    }
  
    &.visible {
      opacity: 1;
      pointer-events: auto; // Enable clicks when visible
    }
  
    .arrow {
      font-size: 24px; // Adjust the size as needed
      color: white; // Change the color to fit your design
      background: rgba(0, 0, 0, 0.5); // Semi-transparent background
      border-radius: 50%; // Rounded shape for the button
      padding: 10px; // Padding around the arrow
    }
  }
  