@use '../../../variables.scss' as *;

.dialogOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(12px);
}

.dialog {
  position: relative;
  padding: 20px;
  border-radius: 15px;
  width: 40em;
  z-index: 10;
  background: inherit; // Light theme background
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  &.darkTheme {
    @include darkTheme;
  }

  &.lightTheme {
    @include lightTheme;
  }
}

.dialogTitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;

  &:hover {
    color: rgba(171, 159, 159, 0.6);
  }
}

.dialogContent {
  margin-top: 20px;
}

.noScroll {
  overflow: hidden;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .dialog {
        width: 30em;
    }
}