@use '../../variables' as *;

.experienceContainer {
  padding: 80px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include separator;
}

.experienceContainer h2 {
  margin-top: 40px;
}

.experience {
  max-width: 1100px;
  min-height: 600px;
}

.info {
  padding: 20px;
  margin: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  cursor: pointer;
  box-shadow: $box-shadow-color;
}

.info:hover {
  box-shadow: $button-box-shadow;
  transform: scale(1.01);
}
.duration {
  flex: 1;
}

.detail {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.detail div h4 {
  margin: 5px 0;
}

.detail div h3 {
  margin: 0;
}

.detail p {
  margin-bottom: 10px;
}

.technology {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.technology div {
  padding: 7px;
  margin-left: -5px;
  border-radius: 20px;
}

.info:hover h3,
.info:hover h4,
.info:hover .duration,
.info:hover .technology div {
  color: $h3-color;
}

/* Media queries */
@media only screen and (min-width: 320px) and (max-width: 820px) {
  .info {
    flex-direction: column;
  }

  .duration {
    margin-bottom: 10px;
  }
  .experience {
    max-width: 700px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 820px) {
  .experience {
    margin-left: 25px;
    max-width: 750px;
  }
}

@media only screen and (min-width: 540px) and (max-width: 720px) {
  .experience {
    margin-left: 10px;
    max-width: 495px;
  }
}

@media only screen and (min-width: 912px) {
  .experience {
    max-width: 850px;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 920px) and (max-width: 1024px) {
  .experience {
    margin-right: 20px;
    max-width: 900px;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) {
  .experience {
    margin-left: 10px;
    max-width: 900px;
  }
}

@media only screen and (min-width: 853px) and (max-height: 1280px) {
  .experience {
    margin-left: 10px;
    max-width: 750px;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 600px) {
  .experience {
    margin-left: 10px;
    max-width: 900px;
  }
}

@media only screen and (min-width: 1280px) and (min-height: 800px) {
  .experience {
    max-width: 1150px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 920px) {
  .info:hover h3,
  .info:hover h4,
  .info:hover .duration,
  .info:hover .technology div {
    color: inherit;
  }
}

@media only screen and (min-width: 1300px) {
  .experience {
    max-width: 1150px;
  }
}