@use 'variables' as *;

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Inter', Arial, sans-serif; ;
  margin: 0;
  transition: background-color 0.3s, color 0.3s; 
}

h1{
  //  text-transform: uppercase !important;
   text-decoration: none !important;
   font-weight: 700;
   letter-spacing: 0.1em;
   font-size:x-large;
   line-height: 1.6;
}

h2 {
  text-decoration: none !important;
  font-weight: 700;
  letter-spacing: 0.08em;
  font-size: x-large;
}

h3 {
  text-decoration: none !important;
  font-weight: 600;
  letter-spacing: 0.06em;
  font-size:large;
}

h4 {
  text-decoration: none !important;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size:small;
}

p {
  line-height: 1.6;
  letter-spacing: 0.06em;
  font-size:medium;
}

.appNav {
  position: relative;
  top: 0;
  right: 40px;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  transform: translateX(100%);

  &.visible {
    right: 0px;
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.5s ease, opacity 0.5s ease;
    height: 40px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 20px 0 0;
    display: flex;
    gap: 15px;

    li {
      padding: 10px;
      position: relative;

      a {
        color: white;
        font-weight: bold;
        text-decoration: none;
        font-size: 18px;
        display: flex;
        align-items: center;
        transition: color 0.3s ease, transform 0.3s ease;

        i {
          margin-right: 8px;
        }

        &.active,
        &:hover {
          color: green;
          font-weight: bold;
        }

        &:hover {
          color: rebeccapurple;
          transform: scale(1.1);
        }
      }
    }
  }
}

.app.aboutActive .appNav a {
  color: white;
}
.app.lightTheme {
  @include lightTheme;
}

.app.darkTheme {
  @include darkTheme;
}

#home,
#about,
#experience,
#project,
#contact {
  scroll-margin-top: -10px;
}

@media (max-width: 540px) {
  .appNav {
    display: none;
  }
}
