html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-family: monospace !important;
  background-color: #0f172a;
}

.appNav {
  position: relative;
  top: 0;
  right: 40px;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  transform: translateX(100%);
  background: #4fb34829;

  &.visible {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.5s ease, opacity 0.5s ease;
    height: 40px;
  }

  // &.hidden {
  //   opacity: 0;
  //   transform: translateX(100%);
  //   transition: transform 0.5s ease, opacity 0.5s ease;
  // }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;

    li {
      padding: 10px;
      position: relative;

      a {
        color: white;
        font-weight: bold;
        text-decoration: none;
        font-size: 18px;
        display: flex;
        align-items: center;
        transition: color 0.3s ease, transform 0.3s ease;

        i {
          margin-right: 8px;
        }

        &.active,
        &:hover {
          color: green;
          font-weight: bold;
        }

        &:hover {
          color: rebeccapurple;
          transform: scale(1.1);
        }
      }
    }
  }
}

.app.aboutActive .appNav a {
  color: white;
}

#home,
#about,
#experience,
#project,
#contact {
  scroll-margin-top: -10px;
}

@media (max-width: 540px) {
  .appNav {
    display: none;
  }
}
