// Light Theme Variables
$light-background: linear-gradient(90deg, #f0e4e1, #f6f3eb, rgb(239 254 248), #f3ebde);
$light-font-color: #121212;
$light-accent-color: #3498db;
$hover-color: #008080;

// Dark Theme Variables
$dark-background: linear-gradient(90deg, #2a2a2a, #2e2f30, #232b34, #16202a);
$dark-font-color: #ffffff;
$dark-accent-color: #bb86fc;
$box-shadow-color: 0 0 3px rgba(172, 111, 111, 0.3);

// Theme Mixins
@mixin lightTheme {
  background: $light-background; // Change from background-color to background
  color: $light-font-color;
  --accent-color: $light-accent-color;
  background-size: 200% 100%;
  background-clip: padding-box;
  animation: gradient-border 10s infinite alternate;
  border-bottom: 4px solid transparent;
}

@keyframes gradient-border {
  0% { background-position: 0% 100%; }
  100% { background-position: 100% 100%; }
}

@mixin darkTheme {
  background: $dark-background;
  color: $dark-font-color;
  --accent-color: $dark-accent-color;
  background-size: 200% 100%;
  background-clip: padding-box;
  animation: gradient-border 20s infinite alternate;
  border-bottom: 4px solid transparent;
}

// Apply theme styles to the root element based on a class
.lightTheme {
  @include lightTheme;
}

.darkTheme {
  @include darkTheme;
}

// Define the separator mixin
@mixin separator($border-height: 1px, $border-color: linear-gradient(to right, #c8bcba, #e2dfd6, #bbd3c1, #a3aeba), $shadow-color: rgba(0, 0, 0, 0.1)) {
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $border-height;
    background: $border-color;
    box-shadow: 0 3px 4px $shadow-color;
    border-radius: 1px; // Rounded corners for the border
    
  }
}

@mixin mobile {
  @media only screen and (max-width: #{$width}) {
    @content;
  }
}